.main {
    max-width: 1220px;
    margin: 25px auto;
}

.main .title {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}
.title {
    font-weight: bold;
    font-size: 29px;
}
.table-prod {
    font-size: 16px;
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

.table-prod th,
.table-prod td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #dbdbdb;
}

.table-prod th {
    border-bottom: 2px solid red;
}

.table-prod img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.txtbox-count {
    width: 50px;
    text-align: center;
    padding: 5px;
    border: 1px solid #dbdbdb;
}

.update {
    text-align: right;
    margin-top: 20px;
}

.update button {
    border-radius: 20px;
    border: none;
    background-color: orange;
    line-height: 35px;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    font-size: 14px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.update button:hover {
    background-color: orangered;
    cursor: pointer;
}

.table-right {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table-right .title {
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px solid #dbdbdb;
    padding-bottom: 10px;
}

.table-right td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    font-size: 14px;
}

.table-right .price {
    text-align: right;
    font-weight: bold;
}

.pay {
    margin-top: 20px;
}

.pay button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pay button:hover {
    background-color: orangered;
}
.padding-table {
    padding: 15px;
}
.row {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Khoảng cách giữa các cột */
}

.colf-9 {
    flex: 2.7; /* Phần giỏ hàng rộng hơn */
}

.colf-3 {
    flex: 1.3; /* Phần cộng giỏ hàng hẹp hơn */
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column; /* Xếp chồng khi màn hình nhỏ */
    }
}
.app__container-size {
    height: 400px;
}
.thanhtoan {
    color: var(--text-color);
    font-size: 13px;
    line-height: 23px;
    margin-top: 30px;
}
.thanhtoan__pt-input {
    width: 100%;
    height: 40px;
    padding: 5px;
}