.khung {
    width: 100%;
    height: 738px;
    padding: 0;
    margin: 0;
    display: block;
}
/*modal*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
}
.modal__body {

    background-color: white;
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 5px;
}
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.auth-form {
    width: 500px;
}
.auth-form__container {
    padding: 0 32px;

}
.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 12px;
}
.auth-form__heading {
    font-size: 22px;
    font-weight: 400;
    color: rgb(49, 49, 49);
    
}
.auth-form__switch-btn {
    font-size: 16px;
    color: #f7631c;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;

}
.auth-form__form {
   
}
.auth-form__input {

    width: 100%;
    height: 40px;
    margin: 9px -6px;
    padding: 0 8px;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus {
    border-color: #888;
}

.btn {
    display: flex; 
    justify-content: center;
    align-items: center;
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 17px;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: #333;
    background-color: #f5f5f5;
}
.btn.auth-form__controls-back:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.btn.btn--primary {
    color: white;
    background-color: #f7631c;
}
/*khi chua dat dk
.btn.btn--disabled {
    cursor: default;
    color: #949494;
    background-color: #c3c3c3;
}*/
.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin: 45px 0px 20px 0px;
}
.auth-form__controls-back {
    margin-right: 8px;
}
.auth-form__help {
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link {
    text-decoration: none;
    font-size: 14px;
    color: #939393;
}
.auth-form__help-separate {
    display: block;
    height: 16px;
    margin: 0 16px;
    border-left: 1px solid #EAEAEA;
}
.auth-form__help-link-forgot {
    color: #f7631c;
}
.auth-form__aside {
    margin-top: 6px;
}
.back {

}
.auth-form__aside {
    margin-top: 18px;
}
.auth-form__policy-text {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link {
    text-decoration: none;
    color: #f7631c;
}
/* .btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border-radius: 2px;
    font-size: 15px;
    padding: 0;
    cursor: pointer;
    color: #f7631c;
} */

.auth-form__socials {
    display: flex;
    background-color: #f5f5f5;
    padding: 12px 36px;
    justify-content: space-between;/*can giua 2 dau*/
    border-radius: 0 0 4px 4px;
}
.btn.btn--size-s {
    height: 32px;
    font-size: 15px;
    padding: 0 8px;
}
.auth-form__socials-icon {
    font-size: 18px;
}
.auth-form__socials--facebook {
    background-color: #3A5A98;
    color: white;
}
.auth-form__socials--facebook .auth-form__socials-icon {
    color: white;
}
.auth-form__socials-title {
    margin: 0 25px;
}
.auth-form__socials---google {
    background-color: white;
    color: #666;
}
.auth-form__socials-icon-google {
    font-size: 18px;
    color: #da4700;
}
.auth-form__socials-with {
    margin-left: -32px;
    width: 428px
}