.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
}

.header {
    height: 135px;
    background-color: var(--primary-color);
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}
.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
    position:relative ;
}
.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.header__navbar-user-name {
    margin-top: 3px;
    margin-left: 4px;
    font-size: 14px;
    font-weight: 400;
}
.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}
.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding: 8px 0;
    top: calc(100% + 6px);
    right: 0;
    width: 160px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: 0 1px 2px #c0c0c0;
    display: none;
}
.header__navbar-user-menu::before {
    content: "";
    border-width: 20px 27px;
    border-style:  solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}
.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 60%;
    height: 8px;
}
.header__navbar-user-item {

}
.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.header__navbar-user-item a:hover {
    background-color: #fafafa;
}
.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    padding: 7px 16px;
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}
.header__navbar-item ,
.header__navbar-item-link {
    display: inline-block;
    font-size: 12px;
    color:rgb(207, 207, 207);
    text-decoration: none;
}
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color:var(--white-color) ;
}
.header__navbar-item ,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid rgb(190, 190, 190);
    height: 12px;
    top:50%;
    right: -9px;
    transform: translateY(-50%);
}
.header__navbar-icon-link {
    color: rgb(190, 190, 190);
    text-decoration: none;
}
.header__navbar-icon {
    font-size: 16px;
    margin: 0 4px;
}
.header__notify {
    position: absolute;
    z-index: 2;/*thuoc tinh dieu chinh do uu tien cua position*/
    top:118%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: default;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity transform;
    transform-origin: calc( 100% - 32px ) top;
    display: none;
    border-radius: 3px;
}
.header__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style:  solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}
.header__notify::after {
    content: "";
    position: absolute;
    display: block;
    width: 90px;
    right: 0;
    top: -16px;
    height: 20px;
}
@keyframes headerNotifyGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    user-select: none; /*khong cho copy*/
}    
.header__notify-list{
    padding-left: 0;
}
      
.header__notify-item{
    display: flex;
}
.header__notify-item:hover {
    background-color: #f7f7f7;
}
.header__notify-item--viewed{
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;
}
      
.header__notify-img{
    width: 48px;
    object-fit: contain;
}
       
.header__notify-info{
    margin-left: 12px;
}
      
.header__notify-name{
    display: block;
    font-size: 13px;
    color: var(--text-color);
    line-height: 18px;
}
.header__notify-descriotion{
    display: block;
    font-size: 12px;
    color: #756f6e;
    margin-top: 4px;
}
.header__notify-footer {
    display: flex;
}
.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 48px;
    margin: auto;
    font-size: 14px;
    font-weight: 400;
}
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}
.header__logo-link {
    color: transparent;
    text-decoration: none;
}
.header__logo-img {
    width: 170px;
    height: 95px;
}
.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
}

/*gio hang*/
.header__cart {
    width: 150px;
    text-align: center;
}
.header__cart-icon {
    color: var(--white-color);
    font-size: 24px;
    margin-top: 6px;
}
.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 3px;
    cursor: pointer;
}
.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 14px;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item {
    padding-left: 0;
    margin-top: auto;
    list-style: none;
    max-height: 56vh;
    overflow-y: auto;
}
.header__cart-item {
    display: flex;
    align-items: center;
}
.header__cart-item:hover {
    background-color: #F8F8F8;
}
.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head{
    display: flex;
    margin-right: 12px;
    align-items: center;
    justify-content: space-between;

}
.header__cart-item-name{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    max-height: 40px;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}
.header__cart-item-price{
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color);
}
.header__cart-item-multiply{
    font-size: 9px;
    margin: 0 4px;
    color: #757575;
}
.header__cart-item-qnt{
    font-size: 12px;
    color: #757575;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}
.header__cart-item-description{
    color: #757575;
    font-size: 12px;
    font-weight: 300;
    margin-top: 7px;
}
.header__cart-item-remove{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    margin-top: 7px;
    margin-right: 12px;
}
.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover {
    background-color: #f05D41;
}
.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top: -25px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}
.btn--primary {
    background-color: #f05D41;
    color: #f0f0f0;
}
.btn--primary:hover {
    background-color: #f16a4f;
    color: var(--white-color);
}
.header__cart-list {
    position: absolute;
    top: calc(100% + 8px);
    right: -8px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 31px rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}
.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.header__cart-no-cart-img {
    width: 50%;
    display: none;
}
.header__cart-list-no-cart-msg {
    display: none;
    font-size: 14px;
    margin-top: 14px;
    color: var(--text-color);
}
.header__cart-notice {
    position: absolute;
    top:-3px;
    right: -14px;
    padding: 1px 7px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    color: var(--primary-color);
    background-color: var(--white-color);
}
.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}
.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin: 3px;
    outline: none;
}
.header__search-btn:hover {
    background-color: #7fb900;
    cursor: pointer;
}
.header__search-btn-icon {
    font-size: 16px;
    color: var(--white-color);
}
.header__search-input:focus ~ .header__search-history {
    display: block;
}/*bam vao hien ra thanh tim kiem */
/*tim kiem*/
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    display: none;
    overflow: hidden;
    z-index: 1;
}
.header__search-history-heading {
    margin: 6px 12px;
    font-size: 14px;
    color: #999;
    font-weight: 400;
}
.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin:6px 0 0;
}
.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}
.header__search-history-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-history-item a {
    text-decoration: none;
    font-size: 14px;
    color: var(--text-color);
    line-height: 38px;
}

/*app container*/
.app__container {
    background-color: #F5F5F5;
}
.app__content {
    padding-top: 36px;
}
.category {
    background-color: var(--white-color);
    border-radius: 2px;
}
.category__heading {
    color: var(--text-color);
    font-size: 17px;
    padding: 12px 16px ;
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.category__heading-icon {
    font-size: 14px;
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 12px;
}
.category-item {

}
.category-item--actice .category-item__link{/*trang trai cay nhap khau*/
    color: #f7631c;
}
.category-item--actice .category-item__link::before {
    content: "";
    top: 50%;
    left: 9px;
    position: absolute;
    border: 4px solid;
    transform: translateY(calc(-50% - 1px));
    border-color: transparent transparent transparent #f7631c;
}
.category-item__link {
    position: relative;
    font-size: 15px;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 16px;
    display: block;
    transition: right linear 0.1s;/*tao chuyen dong*/
    right: 0;
}
.category-item__link:hover {
    right: -4px;
    color: #f7631c;
}


/*Home sort + filter*/

.home-filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.04);
}
.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__label {
    font-size: 14px;
    color: #555;
    margin-right: 16px;
}
.home-filter__btn {
    margin-right: 12px;
    min-width: 100px;
    background-color: var(--white-color);
}
.home-filter__btn:hover {
    background-color: rgb(255, 213, 213);
}
.home-filter__page-num {
    font-size: 15px;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current {
    color: var(--primary-color);
}
.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn {
    display: flex;
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
}
.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #CCC;
}
.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}
.home-filter__page-icon {
    margin: auto;
    font-size: 14px;
    color: #555;
}

/*san pham*/
.home-product {
    margin-bottom: 10px;
}
.home-product-item {
    border: 1px solid #f7631c;
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .6);
    transition: transfom linear 0.1s;/*chuyen dong deu trong 1s*/
    will-change: transfom;/*toi uu chuyen dong*/
}
.home-product-item:hover {
    
    background-color: #7fb900;
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.home-product-item__name {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 18px;
    height: 36px;
    margin: 10px 10px 6px;
    overflow: hidden;/*an noi dung thua*/
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}
.home-product-item__name:hover {
    color: #E8E8E8;
}
.home-product-item__price {
    display:flex;
    align-items: baseline;
}
.home-product-item__price-old {
    font-size: 12px;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}
.home-product-item__price-current {
    font-size: 15px;
    color: #f7631c;
    margin-left: 8px;
}
.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.home-product-item__like {
    font-size: 13px;
}
i.home-product-item__like-icon-fill {
    display: none;
    color: #F63D30;
}
.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}
.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #D5D5D5;
    margin:-1px 0 0 auto;
}
.home-product-item__star--gold {
    color: var(--star-gold-color);
}
.home-prodyct-item__sold {
    font-size: 12px;
    color: var(--text-color);
    margin-left: 4px;
}
.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 12px;
    font-weight: 300;
}
.home-product-item__brand {

}
.home-product-item__origin-name {

}
.home-product-item__fauvourite {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: currentColor;
    color: #f7631c;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    padding: 2px;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__fauvourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);/*toi hon 60% so voi mau chinh*/
}
.home-product-item__fauvourite i {
    color: var(--white-color);
    font-size: 9px;
    margin: 0 2px 0 5px;

}
.home-product-item__fauvourite span {
    color: var(--white-color);
}
.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;
    border-top-right-radius: 2px;
}
.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}
.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
}
.home-product-item__sale-off-label {
    font-size: 13px;
    line-height: 14px;
    color: var(--white-color);
    font-weight: 600;
}
.home-product__pagination {
    margin: 48px 0 32px 0;
}

/* footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}
.footer__heading {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer-list {
    padding-left: 0;
    list-style: none;
}
.footer-item__link {
    text-decoration: none;
    font-size: 12px;
    color: #666;
    padding: 8px 0;
    display: flex;
    align-items: center;
}
.footer-item__link:hover {
    color: var(--primary-color);
}
.footer-item__icon {
    font-size: 16px;
    margin: -1px 8px 0 0;
}
.footer__bottom {
    background-color: #F5F5F5;
    padding: 12px 0;
    margin-top: 27px;
}
.footer__text {
    margin: 0;
    text-align: center;
    font-size: 12px;
    color: #737373;
}
.id {
    display: flex;
}
.tk{
    margin-top: 14px;
    display: flex;
}
.dx {
    background-color: white;
    margin-top: 9px; 
    width: 100%; 
    font-size: 14px; 
    border: none; 
    cursor: pointer;
}
.dx:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.dx-1 {
    margin-right: 62px;
}
.kh-login {
    display: flex;
}
.dntc {
    margin-top: -13px;
}