<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng Nhập</title>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/login.css"> 
    <link rel="stylesheet" href="/Font/fontawesome-free-6.7.2-web/css/all.min.css">
</head>
<body>
    <div><img src="/img/ruou-hoa-qua-trai-cay-1200x675.jpg" class="khung"></div>
    <div class="modal">
        <div class="modal__body">
            <div class="auth-form">
                <div class="auth-form__header">
                    <h3 class="auth-form__heading">Đăng Nhập</h3>
                    <a href="/dang-ky" class="auth-form__switch-btn">Đăng Kí</a>
                </div>
                <form id="loginKH" onsubmit="xuLyDangNhap(event)">
                    <div class="auth-form__group">
                        <input type="text" id="tk" class="auth-form__input" placeholder="Nhập Email của bạn">
                    </div>
                    <div class="auth-form__group">
                        <input type="password" id="mk" class="auth-form__input" placeholder="Mật khẩu">
                    </div>
                    <div class="auth-form__controls">
                        <a href="/trang-chu" class="btn auth-form__controls-back">TRỞ LẠI</a>
                        <button type="submit" class="btn btn--primary">ĐĂNG NHẬP</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/auth.js"></script>
</body>
</html>