<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng của bạn</title>
    <link rel="stylesheet" href="/css/btlon.css">
    <link rel="stylesheet" href="/css/giohang.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/Font/fontawesome-free-6.7.2-web/css/all.min.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <style>
        .header__navbar-user-menu { display: none; position: absolute; z-index: 1; top: 100%; right: 0; background-color: white; width: 160px; box-shadow: 0 1px 2px #e0e0e0; }
        .header__navbar-user:hover .header__navbar-user-menu { display: block; }
    </style>
</head>
<body>
    <div class="app">
        <header class="header">
            <div class="grid">
                <nav class="header__navbar">
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item">Kết nối <a href="#" class="header__navbar-icon-link"><i class="header__navbar-icon fa-brands fa-facebook"></i></a></li>
                    </ul>
                    <ul class="header__navbar-list">
                        <span id="boxrighttop" class="kh-login">
                            <li class="header__navbar-item"><a href="/dang-ky" class="header__navbar-item-link header__navbar-item--separate">Đăng Ký</a></li>
                            <li class="header__navbar-item"><a href="/dang-nhap" class="header__navbar-item-link">Đăng Nhập</a></li>
                        </span>
                        <span id="boxrighttopKH" style="display: none;" class="dntc">
                            <li class="header__navbar-item header__navbar-user">
                                <span class="tk"><img src="/img/lovepik-avatar-png-image_401175186_wh1200.png" class="header__navbar-user-img"><span id="tenkhachhang" class="header__navbar-user-name">User</span></span>
                                <ul class="header__navbar-user-menu">
                                    <li class="header__navbar-user-item"><button onclick="logout()">Đăng xuất</button></li>
                                </ul>
                            </li>
                        </span>
                    </ul>
                </nav>
                <div class="header-with-search">
                    <div class="header__logo"><a href="/trang-chu" class="header__logo-link"><img src="/img/o_bg-remover-gen_2rbFSjxWiA0b8V11LXqgNGl4BsO.png" class="header__logo-img"></a></div>
                </div>
            </div>
        </header>

        <div class="app__container app__container-size">
            <div class="grid">
                <div class="row">
                    <div class="colf-9 colf-s-12 padding-table">
                        <div class="title">Giỏ hàng của bạn</div>
                        <table class="table-prod">
                            <thead><tr><th>Ảnh</th><th>Tên sản phẩm</th><th>Giá</th><th>SL</th><th>Xóa</th></tr></thead>
                            <tbody id="cartBody"></tbody>
                        </table>
                    </div>
                    <div class="colf-3 colf-s-12 right padding-table">
                        <table class="table-right">
                            <tr><td colspan="2" class="title">TỔNG TIỀN</td></tr>
                            <tr><td>Tổng cộng:</td><td class="price" id="totalPrice">0₫</td></tr>
                        </table>
                        <div class="payment-form">
                            <h4>Thông tin thanh toán</h4>
                            <div class="form-group">
                                <label>Chọn ngân hàng:</label>
                                <select id="bankName" class="form-control">
                                    <option value="">-- Chọn ngân hàng --</option>
                                    <option value="Vietcombank">Vietcombank</option>
                                    <option value="MBBank">MB Bank</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Số tài khoản:</label>
                                <input type="text" id="bankAccount" class="form-control" placeholder="Nhập số tài khoản...">
                            </div>
                        </div>
                        <div class="pay"><button onclick="thanhToan()" style="width:100%; padding:15px; background: #E34426; color:white; border:none; cursor:pointer;">THANH TOÁN NGAY</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/common.js"></script>
    <script src="/js/cart.js"></script>
</body>
</html>